@import url( 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
$icon-font-path: "../fonts/"; // bower:scss
@import "vendor/bootstrap-custom.scss"; // endbower
@import "base/variables";

body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: $color-brand-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

img {
  width: 100%;
}

hr {
  border-width: 5px;
  border-color: $color-brand-2;
}

footer {
    background: #333;
    padding:30px;
    color: #f2f2f2;
}

.text-thin {
  font-weight: 100;
}

.topbar {

  &__info {
    margin-bottom: 30px;
  }

  &__name {
      @media screen and (max-width: $screen-xs-max){
          font-size: 130%;
          margin-top: 25px;
          margin-bottom: 5px;
      }
  }

  &__logo {
    margin-top: 20px;
    max-width: 80px;
  }

  &__prof {
      @media screen and (max-width: $screen-xs-max){
          font-size: 100%;
          margin-top: 5px;
      }
  }
}

.hero__title{
    margin-bottom: 30px;
    color: #999;
}

.featured-work {
  background: #f2f2f2;
  padding-bottom: 30px;
}

.featured {
  color: $color-brand-3;
  margin-bottom: 30px;

  @media screen and (max-width: $screen-xs-max){
      text-align: center;
  }
}

.work {
  &__title {
      @media screen and (max-width: $screen-xs-max){
        font-size: 120%;
      }
  }

  &__link {
    text-decoration: none;
    color: $color-brand-3;
  }
}

.modal-header,
.modal-footer {
    background: #333;
    color: #f2f2f2;
}
